
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    font-family: sans-serif;
    background-color:#f6f3ef;
    color: #333;
    line-height: 1.6;

}

.header {
    background-color: white;
    padding: 1rem 2rem;
    color: #ffb700;
}

.logo {
    font-size: 1.8rem;
    font-weight: 700;
}

.container {
    width: 90%;
    max-width: 1000px;
    margin: 2rem auto;
}

.video-container {
    flex: 2;
}

.video-container img{
    width: 100%;
    height: 100%;           
    object-fit: cover;
    display: block;
}

.category {
    color: lightgray;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 0.3rem;
}

.recipe-title {
    font-size: 2rem;
    color: #4b3c8c;
    margin-bottom: 1rem;
}

.recipe-intro {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 0;
    margin-bottom: 2rem;
}

.info-box {
    flex: 1;
    background-color:#fff;
    padding: 1.8rem 1.45rem;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.info-box h3 {
    color: #000000;
    margin-bottom: 0.8rem;
}

.info-box ul {
    list-style: none;
    font-size: 0.95rem;
    line-height: 2.2;
}

.infobox li {
    margin-bottom: 0.5rem;
}

.social-buttons {
    flex-wrap: wrap;
    gap: 1.5rem;
    margin: 1.5rem 0;
}

.social-buttons button i{
    margin-right: 8px;
}

.social-buttons button {
    border: none;
    border-radius: 25px;
    padding: 1rem 2.5rem;
    background-color: white;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1);
    font-weight: 600;
}

.banner {
    margin-bottom: 2rem;
    flex-wrap: wrap;
}

.banner img {
    width: 100%;
    height: 80px;
}

.presentation h2 {
    color: #4b3c8c;
    margin-bottom: 1rem;
}

.presentation-content {
    gap: 1rem;
    align-items: flex-start;
    flex-wrap: wrap;
}

.presentation-content img {
    width: 250px;
}

.presentation-content p {
    flex: 1;
    font-size: 0.95rem;
    text-align: justify;
}

.footer {
    background-color: #6e5fb1;
    color:white;
    text-align: center;
    padding: 1.5rem;
    margin-top: 3rem;
}

.footer-info p {
    justify-content: flex-start;
    text-align: left;
    line-height: 1;
    font-size: smaller;

}

.footer-links {
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-top: 0.5rem;
}

.footer-links a {
    color: white;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .recipe-intro
    .presentation-content {
        flex-direction: column;
    }

    .banner img{
        margin-bottom: 1rem;
    }
    
    .video-container iframe {
        height: 220;
    }
}
